<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VUE</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="card center">
            <h1 
            :style="{
                color: inputValue.length < 5 ? 'darkred' : 'darkblue',
                fontSize: inputValue.length < 6 ? '2rem' : '1.5rem'}">
            {{title}}</h1>
            <div class="form-control">
                <input type="text" 
                :placeholder="placeholderString"
                :value="inputValue"
                v-model="inputValue"
                @keypress.enter="addNewNote"
                />
                <h2>inputValue:{{ inputValue }}</h2>
            </div>
            <button class="btn" @click="addNewNote">Add</button>
            <hr/>
            <ul class="list" v-if="notes.length !== 0">
                <li class="list-item" v-for="(myNote, i) in notes">
                        <!-- <span :class="myNote.length > 5 ? 'primary' : 'bold'">({{ i }}) {{ toUpperCase(myNote) }} </span> -->
                    <!-- <span :class="{
                        'primary': true,
                        'bold': myNote.length > 5
                    }">({{ i }}) {{ toUpperCase(myNote) }}</span> -->
                    <span :class="['bold', {'primary': myNote.length > 5}]">({{ i }}) {{ toUpperCase(myNote) }}</span>
                    <button class="btn danger" v-on:click="removeNote(i, $event)">Delete</button>
                </li>
                <hr/>
                <li>
                    <strong>General count: {{notes.length}}</strong> | Удвоенное: {{doubleCountComputed}}
                </li>
            </ul>
            <div v-else>
                Zametki is null
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>
