<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VUE</title>
    <link rel="stylesheet" href="theme.css"/>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div class="container pt-5" id="app" v-cloak>
    <div class="card center">
        <!-- <div v-html="myHtml"></div>
        <h1 v-text="title"></h1>
        <h2 v-once>{{title}}</h2>
        <h2 v-pre>{{title}}</h2>

        <button 
        class="btn" 
        @click="title = 'Other name'">Change</button> -->
        <!-- <ul class="list">
            <li class="list-item" v-for="(value, i) in person">{{i}} {{ value }}</li>
        </ul> -->
        <div class="form-control">
            <input type="text" @keyup.shift.enter.exact="addItem($event)" ref="myInput">
        </div>
        <ul class="list" v-if="items.length"> <!-- если != 0, тогда показыываем -->
            <li 
            class="list-item" 
            v-for="(value, i) in evenItems"
            @click.right.prevent="remove(i), log(value)"
            :key="value">
            {{i}} {{ value }} &nbsp: 
            <input type="text" @click.stop></li>
        </ul>
        <h3 v-show="items.length === 0"> List is null
        </h3>
    </div>

</div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>
